body {
  display: flex;
  flex-direction: column; /* Stack the content vertically */
  min-height: 100vh; /* Minimum height of 100% of the viewport height */
  font-family: "Josefin Sans", sans-serif;
}

#image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#image-container img {
  display: block;
  margin: 0 auto;
  max-width: 20%;
}

/* CSS para telas grandes */
#image-container img {
  width: 100%;
}

#menu ul {
  display: flex;
  justify-content: space-around;
}

/* CSS para telas pequenas */
@media screen and (max-width: 600px) {
  #image-container img {
    width: 100%;
  }

  #menu ul {
    flex-direction: column;
    align-items: center;
  }

  #menu li {
    margin-bottom: 10px;
  }
}

.social-links {
  display: flex;
  justify-content: center; /* Center links horizontally */
  align-items: flex-end; /* Align links to bottom edge */
  padding: 10px; /* Add some padding for spacing */
  color: #020202; /* Adjust color as needed */
}

i {
  color: #000000;
}

.social-links a {
  padding: 5px;
  font-size: 1.5em;
  transition: color 0.2s ease-in-out;
}

.social-links a:hover {
  color: #ddd; /* Change color on hover */
}

#new-section {
  padding: 20px;
  background-color: #f0f0f0; /* Light gray background */
  color: #333; /* Dark gray text */
}

#new-section p {
  text-align: justify; /* Justify text */
  line-height: 1.6; /* Increase line height for readability */
}

#new-section ul {
  list-style-type: disc; /* Use disc bullets for list items */
  padding-left: 40px; /* Add some left padding to list items */
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#menu li {
  float: left;
}

#menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#menu li a:hover {
  background-color: #111;
}
